body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: black;
}

.left-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: none;
}

.nav-list li {
    padding: 0.5rem 0.75rem;
}

.right-nav {
    display: flex;
    align-items: center;
    max-width: 40%;
    padding: 0 0.25rem;
    display: none;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.logo {
    width: 7.5rem;
}

.hero-section {
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-image: url("images/MoviePoster (1).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: brown;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 4rem auto 5rem;
    text-align: center;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.heading h1 {
    margin: 0;
}

.heading-major {
    font-weight: 800;
}

.heading-minor {
    font-weight: 100;
}

.play-btn {
    width: 8rem;
    height: 2rem;
}

.play-img {
    width: 25px;
    height: 25px;
}

.hero-imgs {
    display: flex;
    justify-self: flex-end;
    width: 100%;
    overflow-x: scroll;
}