body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    background-color: #111;
}

.left-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: none;
}

.nav-list li {
    padding: 0.5rem 0.75rem;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

.search-container {
    display: none;
}

.profile-name {
    display: none;
}

.gift-container {
    display: none;
}

.bell-container {
    display: none;
}

#profile-container {
    display: flex;
}

#profile-container img {
    width: 40px;
    height: 40px; 
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.logo {
    width: 7.5rem;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    background-image: url("images/MoviePoster (1).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 4rem auto 0;
    padding: 0 1rem;
    text-align: center;
}

.second {
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.heading h1 {
    margin: 0;
    font-size: 300%;
}

.heading-major {
    font-weight: 800;
}

.heading-minor {
    transform: translateY(-1.5rem);
    font-weight: 100;
}

.tag {
    display: flex;
    align-items: center;
    /* padding: 5px; */
}

.tag h3 {
    color: #ccc;
}

.top-ten {
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: #f33;
    padding-bottom: 5px;
    color: white;
}
 
.top-ten span {
    font-size: 80%;
    margin: 0;
    padding: 0;
}

.header-description {
    color: #ccc;
}

button {
    cursor: pointer;
}

.hero-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.play-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.35rem;
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    margin: 0.25rem 0;
}

.play-btn-text {
    font-size: 115%;
    font-weight: bold;
}

.play-img {
    width: 20px;
    height: 20px;
}

.info-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.35rem;
    width: 12.5rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.35);
    margin: 0.25rem 0;
    color: white;
}

.info-btn-text {
    font-size: 115%;
}

.movie-section {
    margin: 2rem 0;
}

.collection {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.numbered {
    display: flex;
}

h3 {
    margin-left: 0.5rem;
    margin-bottom: 7px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    color: #999;
}

.social {
    margin-bottom: 1rem;
}

.social img {
    width: 40px;
    margin: 0.25rem;
}

.options {
    margin-bottom: 1rem;
}

.rights button {
    background-color: transparent;
    border: 1px solid #888;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #888;
}

@media only screen and (min-width: 600px) {
    .heading h1 {
        font-size: 300%;
    }

    .hero-section {
        height: 100vh;
    }

    .header-description {
        width: 60vw;
    }

    .right-nav {
        justify-content: space-evenly;
    }

    .search-container {
        display: flex;
    }
    
    .profile-name {
        display: flex;
    }
    
    .gift-container {
        display: flex;
    }
    
    .bell-container {
        display: flex;
    }

    #profile-container img {
        width: 20px;
        height: 17px; 
    }
}

@media only screen and (min-width: 768px) {
    .heading h1 {
        font-size: 400%;
    }

    .heading-major {
        padding: 0;
        margin: 0;
        /* background-color: maroon; */
    }

    .heading-minor {
        transform: translateY(-2rem);
        /* background-color: teal; */
    }

    .heading {
        transform: translateY(3rem);
    }

    .header-description {
        width: 40vw;
        font-size: 120%;
    }

    .hero-section {
        height: 115vh;
    }

    .hero-btns {
        flex-direction: row;
        justify-content: space-between;
    }

    .right-nav {
        width: 30%;
    }

    .first {
        align-items: flex-start;
        width: 50%;
        margin: auto 0;
        padding: 0 1rem;
        text-align: left;
    }

    .top-ten {
        text-align: center;
    }

    .play-btn, .info-btn {
        margin: 0 0.75rem 0 0;
    }

    .social {
        align-self: flex-start;
    }
    
    .options {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: left;
    }

    .rights {
        text-align: left;
    }

    .rights button {
        padding: 0.75rem 1.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .nav-list {
        display: flex;
    }

    .nav-list li {
        font-size: 75%;
        color: #ccc;
    }

    .right-nav {
        width: 25%;
    }

    .hero-section {
        padding-left: 3.5rem;
    }

    .movie-section {
        margin-left: 3.5rem;
    }

    .normal-flow {
        margin-left: 0;
    }

    .normal-flow h3 {
        margin-left: 3.5rem;
    }

    .contact-details {
        padding: 0 8rem;
    }
}