body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: black;
}

.left-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: none;
}

.nav-list li {
    padding: 0.5rem 0.75rem;
}

.right-nav {
    display: flex;
    align-items: center;
}

.search-container {
    display: none;
}

.profile-name {
    display: none;
}

.gift-container {
    display: none;
}

.bell-container {
    display: none;
}

#profile-container {
    display: flex;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.logo {
    width: 7.5rem;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    background-image: url("images/MoviePoster (1).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 4rem auto 0;
    padding: 0 1rem;
    text-align: center;
    /* background-color: teal; */
}

.second {
    display: flex;
    flex-direction: column;
    /* background-color: maroon; */
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.heading h1 {
    margin: 0;
    font-size: 200%;
}

.heading-major {
    font-weight: 800;
}

.heading-minor {
    font-weight: 100;
}

.tag {
    display: flex;
    align-items: center;
    /* padding: 5px; */
}

.tag h3 {
    color: #ccc;
}

.top-ten {
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: #f33;
    padding-bottom: 5px;
    color: white;
    margin-right: 7px;
}
 
.top-ten span {
    font-size: 80%;
    margin: 0;
    padding: 0;
}

.header-description {
    color: #ccc;
}

button {
    cursor: pointer;
}

.hero-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.play-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.35rem;
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    margin: 0.25rem 0;
}

.play-btn-text {
    font-size: 115%;
    font-weight: bold;
}

.play-img {
    width: 20px;
    height: 20px;
}

.info-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.35rem;
    width: 12.5rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.35);
    margin: 0.25rem 0;
    color: white;
}

.info-btn-text {
    font-size: 115%;
}

.collection {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

h3 {
    margin-left: 1rem;
    margin-bottom: 7px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    color: #999;
}

.social {
    margin-bottom: 1rem;
}

.social img {
    width: 40px;
    margin: 0.25rem;
}

.options {
    margin-bottom: 1rem;
}

.rights button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #fff;
}