body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.main-header {
    width: 100%;
}

.main-header nav {
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    top: 0;
    padding: 0 1rem;
}

.logo {
    width: 7.5rem;
}

.sign-in-btn {
    font-size: 1.15rem;
    font-weight: bold;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(10, 10, 10, 0.4);
    background-image: url("images/hero.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    height: 60vh;
    text-align: center;
    z-index: -1;
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-bottom: 0.3rem solid rgba(255, 255, 255, 0.15);
}

section, aside {padding-bottom: 3rem;}

h1.main-heading {
    font-weight: 600;
    width: 80%;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
}

.hero p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.p-graph-two {
    width: 70%;
    margin: 0 auto;
}

.form-input {
    margin-top: 0.75rem;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.form-input input {
    width: 72%;
    margin: 0 auto;
    padding: 0.75rem;
    font-size: 1.2rem;
    border: 1px solid grey;
    border-radius: 5px;
}

.form-input button {
    width: 35%;
    margin: 0 auto;
    margin-top: 0.75rem;
    padding: 0.75rem;
    border-radius: 5px;
    background-color: #ff1a1a;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

hr {
    height: 0.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.25);
}

